.calendar{
    width: 45rem;
    height: 52rem;
    /* background-color: #222227; */
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    margin: auto;
    width: 50%;
}

.calendar .header .prev{
    font-size: 2.5rem;
    cursor: pointer;
}

.calendar .header .next{
    font-size: 2.5rem;
    cursor: pointer;
}

.calendar .day{
    position: relative;
    width: 50px;
    height: 44px;
    display: inline-block;
    background-color:white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    text-decoration: none;
}

.calendar .day-names{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.calendar .week{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}



.calendar .day .selected{
    background-color: palevioletred;
}
.calendar .day .today{
    background-color: gray;
}
.calendar .day .before{
    opacity: 0.2; /* Real browsers */
}
.calendar .day .disable{
    opacity: 0.2; /* Real browsers */
}

.calendar .body{
    overflow: hidden;
    height: 450px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
}

.calendar .body .slider{
    width: 100vw;
}   

.calendar .body .container{
    width: 500px;
    padding-left: 50%;
}   