.homepage {
    text-align: center;
    background-color: #faf0ef;
    height: 100vh;
}

.homepage-logo {
    height: 40vmin;
    pointer-events: none;
}

.homepage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.homepage-link {
    color: #61dafb;
}

.animationBottom {
    padding: 15px;
    position: relative;
    max-width: 60vh;
    float: right;
}
