.homepage {
  text-align: center;
  background-color: #faf0ef;
}

.homepage-logo {
  height: 40vmin;
  pointer-events: none;
}

.homepage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homepage-link {
  color: #61dafb;
}