.select-wrapper {
    width: 60%;
}

.timepicker {
    background-color: white;
}

.select-end {
    background-color: navy;
}

input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid red;
}

input[type='text'] :active {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid red;
}
