.unselected:hover {
    background-color: gray;
    cursor: pointer;
}

.disable {
    opacity: 0.2; /* Real browsers */
}

.calendar .body {
    height: 450px;
    display: flex;
    position: absolute;
    transition: all 1s ease-out;
}

.calendar .body .slider {
    width: 100vw;
}

.calendar .body .container {
    overflow: hidden;
}
